:root {
  --main-color: #f7af01;
  --secondary-color: #c1a362;
  --main-background-color: #ececec;
  --secondary-background-color: white;
  --font-color: black;
  --secondary-font-color: #686565;
  --third-font-color: #8b898b21;
  --scrollbar-color: #77777736;
  --main-transition: 0.3s;
  --main-padding: 50px;
  --footer-icon: #fff;
  --footer-font: #333;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --product-color: #47484b;
  --secondary-product-color: #7a7c81;
  --third-background-color: #0c0c0d1a;
  --grey-color: #606060;
  --blue-color: #0075ff;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --eee-bg: #eee;
}
.dark-theme {
  --main-color: #f7af01;
  --secondary-color: #bb8501;
  --main-background-color: #212121;
  --secondary-background-color: black;
  --secondary-font-color: #e2e2e2;
  --third-font-color: #313131;
  --font-color: white;
  --footer-icon: #313131;
  --footer-font: #b9b9b9;
  --box-shadow: rgba(255, 255, 255, 0.4);
  --product-color: #e7e7e7;
  --secondary-product-color: #dbdbdb;
  --third-background-color: #38383a;
  --grey-color: #ccc;
  --blue-color: #1f77fa;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --eee-bg: #eeeeeee1;
}
/* 
====================================================================
====================================================================
============================ Start Box =============================
====================================================================
====================================================================
*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-5 {
  gap: 5px !important;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
@media (max-width: 330px) {
  .center-f {
    justify-content: center;
  }
}
@media (max-width: 330px) {
  .gap-10-f {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .block-mobile {
    display: block;
  }
}
/* 
====================================================================
====================================================================
============================= End Box ==============================
====================================================================
====================================================================

====================================================================
====================================================================
====================== Start Padding + Margin ======================
====================================================================
====================================================================
*/
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 330px) {
  .p-10-f {
    padding: 10px;
  }
}
@media (max-width: 330px) {
  .pl-10-f {
    padding-left: 10px;
  }
}
@media (max-width: 330px) {
  .pb-60-f {
    padding-bottom: 60px;
  }
}
@media (max-width: 330px) {
  .pr-10-f {
    padding-right: 10px;
  }
}
.m-0 {
  margin: 0px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
@media (max-width: 300px) {
  .mb-25-f {
    margin-bottom: 25px;
  }
}
/* 
====================================================================
====================================================================
======================= End Padding + Margin =======================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Color ===========================
====================================================================
====================================================================
*/
.bg-third {
  background-color: var(--third-background-color);
}
.bg-fourth {
  background-color: var(--footer-icon);
}
.bg-black-s {
  background-color: var(--secondary-background-color);
}
.bg-third {
  background-color: var(--third-background-color);
}
.bg-main-color {
  background-color: var(--main-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-eee {
  background-color: var(--eee-bg);
}
.c-main-font {
  color: var(--font-color);
}
.c-secondary-font {
  color: var(--secondary-font-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-blue {
  color: var(--blue-color);
}
/* 
====================================================================
====================================================================
============================= End Color ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Position ==========================
====================================================================
====================================================================
*/
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* 
====================================================================
====================================================================
=========================== End Position ===========================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Font ============================
====================================================================
====================================================================
*/
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 768px) {
  .txt-c-mobile {
    text-align: center;
  }
}
@media (max-width: 340px) {
  .txt-c-f {
    text-align: left;
  }
}
@media (max-width: 330px) {
  .fs-10-f {
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  .fs-13-f {
    font-size: 13px;
  }
}
/* 
====================================================================
====================================================================
============================= End Font =============================
====================================================================
====================================================================

====================================================================
====================================================================
=========================== Start Border ===========================
====================================================================
====================================================================
*/
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid var(--grey-color);
}
.border-eee {
  border: 1px solid #eee;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
/* 
====================================================================
====================================================================
============================ End Border ============================
====================================================================
====================================================================

====================================================================
====================================================================
======================= Start Width + Height =======================
====================================================================
====================================================================
*/
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-100 {
  max-width: 100px;
}
.h-full {
  height: 100%;
}
.h-100 {
  max-height: 100px;
}
/* 
====================================================================
====================================================================
======================== End Width + Height ========================
====================================================================
====================================================================

====================================================================
====================================================================
========================= Start Components =========================
====================================================================
====================================================================
*/
.between-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.center-flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.btn-position {
  bottom: 20px;
  right: 20px;
  position: absolute;
  border: none;
}
.btn-shape.btn-position:hover {
  background-color: var(--secondary-color);
}
/* 
====================================================================
====================================================================
========================== End Components ==========================
====================================================================
====================================================================

====================================================================
====================================================================
========================= Start  =========================
====================================================================
====================================================================
*/
