:root {
  --main-color: #f7af01;
  --secondary-color: #c1a362;
  --main-background-color: #ececec;
  --secondary-background-color: white;
  --font-color: black;
  --secondary-font-color: #686565;
  --third-font-color: #8b898b21;
  --scrollbar-color: #77777736;
  --main-transition: 0.3s;
  --main-padding: 50px;
  --footer-icon: #fff;
  --footer-font: #333;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --product-color: #47484b;
  --secondary-product-color: #7a7c81;
  --third-background-color: #0c0c0d1a;
  --grey-color: #606060;
}
.dark-theme {
  --main-color: #f7af01;
  --secondary-color: #bb8501;
  --main-background-color: #212121;
  --secondary-background-color: black;
  --secondary-font-color: #e2e2e2;
  --third-font-color: #313131;
  --font-color: white;
  --footer-icon: #313131;
  --footer-font: #b9b9b9;
  --box-shadow: rgba(255, 255, 255, 0.4);
  --product-color: #e7e7e7;
  --secondary-product-color: #dbdbdb;
  --third-background-color: #38383a;
  --grey-color: #ccc;
}
/* 
====================================================================
====================================================================
============================ Start Box =============================
====================================================================
====================================================================
*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 768px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  transition: var(--main-transition);
  bottom: 20px;
  right: 20px;
  position: absolute;
}
.btn-shape:hover {
  background-color: var(--secondary-color);
  font-size: 15px;
}
.d-block {
  display: block;
}
/* 
====================================================================
====================================================================
============================= End Box ==============================
====================================================================
====================================================================

====================================================================
====================================================================
====================== Start Padding + Margin ======================
====================================================================
====================================================================
*/
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 330px) {
  .pr-10-f {
    padding-right: 10px;
  }
}
@media (max-width: 330px) {
  .pl-10-f {
    padding-left: 10px;
  }
}
.m-0 {
  margin: 0px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}

/* 
====================================================================
====================================================================
======================= End Padding + Margin =======================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Color ===========================
====================================================================
====================================================================
*/
.bg-third {
  background-color: var(--third-background-color);
}
.bg-fourth {
  background-color: var(--footer-icon);
}
.bg-black-s {
  background-color: var(--secondary-background-color);
}
.bg-third {
  background-color: var(--third-background-color);
}
.bg-main-color {
  background-color: var(--main-color);
}
.c-main-font {
  color: var(--font-color);
}
.c-secondary-font {
  color: var(--secondary-font-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
/* 
====================================================================
====================================================================
============================= End Color ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Position ==========================
====================================================================
====================================================================
*/
.p-relative {
  position: relative;
}
/* 
====================================================================
====================================================================
=========================== End Position ===========================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Font ============================
====================================================================
====================================================================
*/
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
@media (max-width: 768px) {
  .txt-c-mobile {
    text-align: center;
  }
}
@media (max-width: 330px) {
  .fs-10-f {
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  .fs-13-f {
    font-size: 13px;
  }
}
/* 
====================================================================
====================================================================
============================= End Font =============================
====================================================================
====================================================================

====================================================================
====================================================================
=========================== Start Border ===========================
====================================================================
====================================================================
*/
.b-none {
  border: none;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* 
====================================================================
====================================================================
============================ End Border ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================= Start Components =========================
====================================================================
====================================================================
*/
