/* 
====================================================================
====================================================================
============================ Start Box =============================
====================================================================
====================================================================
*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 768px) {
  .block-mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}
/* 
====================================================================
====================================================================
=========================== End Box ===========================
====================================================================
====================================================================

====================================================================
====================================================================
================= Start Padding + Margin + Border ==================
====================================================================
====================================================================
*/
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.rad-10 {
  border-radius: 10px;
}
/* 
====================================================================
====================================================================
================== End Padding + Margin + Border ===================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Color ===========================
====================================================================
====================================================================
*/
.bg-third {
  background-color: var(--third-background-color);
}
.bg-fourth {
  background-color: var(--footer-icon);
}
.bg-black-s {
  background-color: var(--secondary-background-color);
}
.c-main-font {
  color: var(--font-color);
}
.c-secondary-font {
  color: var(--secondary-font-color);
}
/* 
 */

/* 
====================================================================
====================================================================
============================= End Color ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Position ==========================
====================================================================
====================================================================
*/
.p-relative {
  position: relative;
}
/* 
====================================================================
====================================================================
=========================== End Position ===========================
====================================================================
====================================================================

====================================================================
====================================================================
============================ Start Font ============================
====================================================================
====================================================================
*/
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
====================================================================
====================================================================
============================= End Font =============================
====================================================================
====================================================================

====================================================================
====================================================================
=========================== Start Border ===========================
====================================================================
====================================================================
*/
.rad-6 {
  border-radius: 6px;
}
/* 
====================================================================
====================================================================
============================ End Border ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================= Start Components =========================
====================================================================
====================================================================
*/
