/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* 
====================================================================
====================================================================
==========================Start Variables===========================
====================================================================
====================================================================
*/
:root {
  --main-color: #f7af01;
  --secondary-color: #dba012;
  --main-background-color: #ececec;
  --secondary-background-color: white;
  --font-color: black;
  --scrollbar-color: #77777736;

  --main-transition: 0.3s;
  --main-padding: 100px;
}

.dark-theme {
  --main-color: #f7af01;
  --secondary-color: #bb8501;
  --main-background-color: #202528;
  --secondary-background-color: black;
  --font-color: white;
}
/* 
====================================================================
====================================================================
===========================End Variables============================
====================================================================
====================================================================

====================================================================
====================================================================
=================Start Global RulesStart Components=================
====================================================================
====================================================================
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Prompt", "Marcellus", sans-serif;
  background-color: var(--main-background-color);
  color: var(--font-color);
  transition: background-color var(--main-transition),
    color var(--main-transition);
}
body::-webkit-scrollbar {
  background-color: var(--scrollbar-color);
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  width: fit-content;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 
====================================================================
====================================================================
==========================End Global Rules==========================
====================================================================
====================================================================

====================================================================
====================================================================
==========================Start Components==========================
====================================================================
====================================================================
*/
.new-section {
  margin: 50px 0;
}

.main-title {
  text-transform: capitalize;
  text-align: center;
  border: 2px solid var(--font-color);
  font-weight: normal;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  margin: 0 auto 50px;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title:hover {
  border-color: var(--main-color);
  color: var(--secondary-background-color);
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  border-radius: 0;
  width: 100%;
  height: 103%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  animation: left-move-reverse 0.5s linear forwards;
  left: 0;
}
.main-title::after {
  right: 0;
  animation: right-move-reverse 0.5s linear forwards;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
/* 
====================================================================
====================================================================
===========================End Components===========================
====================================================================
====================================================================

====================================================================
====================================================================
============================Start Header============================
====================================================================
====================================================================
*/
header {
  background-color: var(--secondary-background-color);
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
header .logo img {
  height: 35px;
  /* padding: 7.5px 0; */
}
@media (min-width: 368px) and (max-width: 768px) {
  header .logo img {
    height: 30px;
  }
}
@media (max-width: 368px) {
  header .logo img {
    height: 25px;
  }
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul.title-words li {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
}
header .title-words li a {
  color: var(--font-color);
}
header .title-words li:hover a {
  color: var(--main-color);
}
header .title-words li a::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 120%;
  height: 2px;
  background-color: var(--main-color);
  top: 0;
  left: -80%;
  transition: left var(--main-transition) linear;
}
header .title-words li:hover a::before {
  z-index: 0;
  left: -10%;
}
@media (min-width: 380px) and (max-width: 768px) {
  header ul li {
    font-size: 15px;
  }
  header ul.title-words li {
    margin: 0 10px;
  }
}
@media (max-width: 380px) {
  header ul li {
    font-size: 15px;
  }
  header ul.title-words li {
    margin: 0 5px;
  }
}
header .icons .heart:hover {
  color: var(--main-color);
}
@media (max-width: 360px) {
  header .icons .heart {
    display: none;
  }
}
header .icons .cart-shopping {
  margin: 0 3px 0 15px;
  position: relative;
}
header .icons .cart-shopping:hover {
  color: var(--main-color);
}
header .icons .cart-shopping::after {
  content: attr(data-counter);
  background-color: var(--font-color);
  color: var(--secondary-background-color);
  font-size: 9px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--font-color);
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  left: -10px;
}
header .icons .cart-shopping:hover::after {
  color: var(--font-color);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  header .icons .cart-shopping {
    margin-left: 7px;
  }
}
@media (max-width: 435px) {
  header .icons span {
    display: none;
  }
}
@media (max-width: 330px) {
  header .icons .cart-shopping {
    display: none;
  }
}
header .icons span {
  font-size: 10px;
}
header .icons span:hover {
  color: var(--main-color);
}
.toggle {
  background-color: #f7af01;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}
.input {
  display: none;
}
.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}
.icon--moon {
  transition-delay: 200ms;
  color: #475969;
}
.icon--sun {
  transform: scale(0);
  color: yellow;
}
#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}
#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}
/* 
====================================================================
====================================================================
=============================End Header=============================
====================================================================
====================================================================

====================================================================
====================================================================
============================Start Video=============================
====================================================================
====================================================================
*/
.video {
  mask: linear-gradient(0deg, transparent, white 10%);
}
.video video {
  min-width: 100%;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  object-fit: fill;
  overflow: hidden;
}
/* 
====================================================================
====================================================================
=============================End Video==============================
====================================================================
====================================================================

====================================================================
====================================================================
=========================Start New-Packages=========================
====================================================================
====================================================================
*/
.new-packages .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 569px) {
  .new-packages .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.new-packages .package {
  transition: var(--main-transition);
  background-color: var(--secondary-background-color);

  border: 15px solid var(--secondary-background-color);
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 10px;
}
.new-packages .package:hover {
  transform: translateY(-10px);
}
.new-packages .package img {
  width: 100%;
  border-radius: 8px;
}
.new-packages .package .text {
  margin: 15px 5px;
  text-align: center;
}
.new-packages .package .text h3 {
  font-weight: normal;
}
.new-packages .package .text p {
  font-size: 15px;
  margin: 10px 0 24px;
}
.new-packages .package button {
  background-color: var(--main-color);
  width: 100%;
  border: 20px solid var(--main-color);
  border-radius: 15px;
  position: relative;
}
.new-packages .package button::before {
  content: "Add To Cart";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.new-packages .package button:hover::before {
  top: -15px;
  opacity: 0;
}
.new-packages .package button::after {
  content: "\f217";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 15px;
  opacity: 0;
  transition: var(--main-transition);
}
.new-packages .package button:hover::after {
  top: 50%;
  opacity: 1;
}
/* 
====================================================================
====================================================================
==========================End New-Packages==========================
====================================================================
====================================================================

====================================================================
====================================================================
=============================Start Info=============================
====================================================================
====================================================================
*/
.info {
  display: grid;
  gap: 50px;
  background-color: var(--secondary-background-color);
  padding: 50px 0;
}
.info .row {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 47%;
  gap: 20px;
}
@media (max-width: 768px) {
  .info .row {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.info .row:nth-child(2n) {
  direction: rtl;
}
.info .row .image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.info .row .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .row .wrap .content {
  position: relative;
  margin-right: 20px;
  --font-duration: 0.3s;
}
.info .row:nth-child(2n) .wrap .content {
  margin-left: 20px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .info .row .wrap .content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .info .row:nth-child(2n) .wrap .content {
    margin-right: 20px;
  }
}
.info .row .content .text p {
  margin: 20px 0;
}
.info .row .content button {
  border: 0;
  background-color: var(--main-color);
  border-radius: 20px;
  min-height: 15px;
  padding: 2px 25px;
  margin-bottom: 20px;
}
.info .row .content .paragraph.big {
  --font-duration: 0.6s;
}
.info .row .content .paragraph {
  font-size: 0;
  transition: font-size var(--font-duration) linear;
}
.info .row .content .paragraph.show {
  font-size: initial;
}
/* End Info */
/* 
====================================================================
====================================================================
==============================End Info==============================
====================================================================
====================================================================

====================================================================
====================================================================
========================Start Tourist-Images========================
====================================================================
====================================================================
*/
.tourist .scroller {
  max-width: 98vw;
  margin: 0 auto;
}
.tourist .scroller .scroller__inner {
  display: flex;
  flex-wrap: wrap;
}
.tourist .scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.tourist .scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll 25s linear infinite;
}
.tourist .images .tag-list li {
  width: 250px;
  margin: 0 10px;
}
.tourist .images .tag-list li img {
  max-width: 100%;
  min-width: 250px;
  max-height: 175px;
}
/* 
====================================================================
====================================================================
=========================End Tourist-Images=========================
====================================================================
====================================================================

====================================================================
====================================================================
==========================Start Animation ==========================
====================================================================
====================================================================
*/
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

@keyframes left-move {
  0% {
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 103%;
  }
}
@keyframes left-move-reverse {
  0% {
    left: 0;
    width: 100%;
    height: 103%;
  }
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@keyframes right-move-reverse {
  0% {
    right: 0;
    width: 100%;
    height: 103%;
  }
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@keyframes right-move {
  0% {
    right: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 100%;
    height: 103%;
  }
}
/* 
====================================================================
====================================================================
===========================End Animation============================
====================================================================
====================================================================

====================================================================
====================================================================
===============================Start================================
====================================================================
====================================================================
*/
