/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* 
====================================================================
====================================================================
==========================Start Variables===========================
====================================================================
====================================================================
*/
:root {
  --main-color: #f7af01;
  --secondary-color: #c1a362;
  --main-background-color: #ececec;
  --secondary-background-color: white;
  --font-color: black;
  --secondary-font-color: #696969;
  --scrollbar-color: #77777736;
  --main-transition: 0.3s;
  --main-padding: 50px;
  --footer-icon: #fff;
  --footer-font: #000;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --product-color: #47484b;
  --secondary-product-color: #7a7c81;
  --cart-color: #0c0c0d1a;
}
.dark-theme {
  --main-color: #f7af01;
  --secondary-color: #bb8501;
  --main-background-color: #212121;
  --secondary-background-color: black;
  --secondary-font-color: #e2e2e2;
  --font-color: white;
  --footer-icon: #313131;
  --footer-font: #b9b9b9;
  --box-shadow: rgba(255, 255, 255, 0.4);
  --product-color: #e7e7e7;
  --secondary-product-color: #dbdbdb;
  --cart-color: #0c0c0d85;
}
/* 
====================================================================
====================================================================
===========================End Variables============================
====================================================================
====================================================================

====================================================================
====================================================================
=================Start Global RulesStart Components=================
====================================================================
====================================================================
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Marcellus", "Prompt", sans-serif;
  background-color: var(--main-background-color);
  color: var(--font-color);
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
body::-webkit-scrollbar {
  background-color: var(--scrollbar-color);
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
body.fix {
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* Medium devices */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Large devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Extra large devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra Extra large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* 
====================================================================
====================================================================
==========================End Global Rules==========================
====================================================================
====================================================================

====================================================================
====================================================================
==========================Start Components==========================
====================================================================
====================================================================
*/
.new-section {
  margin: 50px 0;
}
.main-title {
  text-transform: capitalize;
  text-align: center;
  border: 2px solid var(--font-color);
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-size: 30px;
  letter-spacing: -1px;
  word-spacing: -2px;
  position: relative;
  margin: 0 auto 50px;
  z-index: 1;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  --position: -30px;
  --left-animation: ;
  --right-animation: ;
  --animation-duration: 0.5s;
}
.main-title:hover {
  border-color: var(--main-color);
  color: var(--secondary-background-color);
  -webkit-transition-delay: calc(var(--animation-duration) + 0.01s);
  -o-transition-delay: calc(var(--animation-duration) + 0.01s);
  transition-delay: calc(var(--animation-duration) + 0.01s);
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-title::before {
  -webkit-animation: var(--left-animation);
  animation: var(--left-animation);
  left: var(--position);
}
.main-title::after {
  right: var(--position);
  -webkit-animation: var(--right-animation);
  animation: var(--right-animation);
}
.main-title:hover::before {
  -webkit-animation: left-move var(--animation-duration) linear forwards;
  animation: left-move var(--animation-duration) linear forwards;
}
.main-title:hover::after {
  -webkit-animation: right-move var(--animation-duration) linear forwards;
  animation: right-move var(--animation-duration) linear forwards;
}
@media (max-width: 305px) {
  .main-title {
    --position: -20px;
  }
}
@media (max-width: 280px) {
  .main-title {
    --position: -15px;
  }
}
/* 
====================================================================
====================================================================
===========================End Components===========================
====================================================================
====================================================================

====================================================================
====================================================================
============================Start Header============================
====================================================================
====================================================================
*/
.main-header {
  background-color: var(--secondary-background-color);
  -webkit-transition: background-color 0.5s, color 0.3s;
  -o-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}
.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header .logoo {
  height: 35px;
  width: 150px;
  position: relative;
  cursor: pointer;
  caret-color: transparent;
  --height: 40px;
  --dot-animation-duration: 0.5s;
  --dot-animation-duration-reverse: 0.7s;
  --q-position: 42%;
  --animation: move-letter 0.5s linear 0.4s forwards;
}
@media (max-width: 768.8px) {
  .main-header .logoo {
    width: 115px;
    height: 30px;
    --height: 30px;
  }
}
@media (max-width: 368px) {
  .main-header .logoo {
    width: 105px;
    height: 25px;
    --height: 25px;
  }
}
@media (max-width: 331px) {
  .main-header .logoo {
    height: 20px;
  }
}
.main-header .logoo .letter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  height: var(--height);
}
.main-header .logoo .letter:not(.letter-div) {
  animation: move-letter-reverse 1s linear forwards;
}
.main-header .logoo:hover .letter:not(.letter-div) {
  -webkit-animation: var(--animation);
  animation: var(--animation);
}
.main-header .logoo .b {
  --left: 0;
  left: var(--left);
}
.main-header .logoo .a-f {
  --left: 16%;
  left: var(--left);
}
.main-header .logoo .l {
  --left: 32%;
  left: var(--left);
}
.main-header .logoo .letter-div {
  --left: 42%;
  left: var(--left);
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10;
}
.main-header .logoo .letter-q-div {
  height: var(--height);
  animation: q-rotate-reverse 0.5s linear forwards;
  z-index: 10;
}
.main-header .logoo .letter-q-div img {
  max-height: 100%;
  z-index: 10;
}
.main-header .logoo:hover .letter-q-div {
  -webkit-animation: q-rotate 0.5s linear 0.6s forwards;
  animation: q-rotate 0.5s linear 0.6s forwards;
}
.main-header .logoo .dot {
  --size: 6px;
  background-color: #f9c163;
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  left: 44%;
  top: -15%;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  -webkit-animation: logo-left-dot-reverse var(--dot-animation-duration-reverse)
    linear forwards;
  animation: logo-left-dot-reverse var(--dot-animation-duration-reverse) linear
    forwards;
}

@media (max-width: 768.8px) {
  .main-header .logoo .dot {
    --size: 5px;
    top: -9%;
  }
}
@media (max-width: 368px) {
  .main-header .logoo .dot {
    --size: 4px;
  }
}
@media (max-width: 335px) {
  .main-header .logoo .dot {
    top: -10%;
  }
}
@media (max-width: 332px) {
  .main-header .logoo .dot {
    top: -20%;
  }
}
.main-header .logoo .dot.right {
  left: 50%;
  -webkit-animation: logo-right-dot-reverse
    var(--dot-animation-duration-reverse) linear forwards;
  animation: logo-right-dot-reverse var(--dot-animation-duration-reverse) linear
    forwards;
}
.main-header .logoo:hover .dot {
  -webkit-animation: logo-dots var(--dot-animation-duration) linear forwards;
  animation: logo-dots var(--dot-animation-duration) linear forwards;
}
.main-header .logoo .a-s {
  --left: 58%;
  left: var(--left);
}
.main-header .logoo .n {
  --left: 75%;
  left: var(--left);
}
.main-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header ul.tile-wrds {
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
}
@media (max-width: 510px) {
  .main-header ul.tile-wrds {
    left: -5px;
  }
}
.main-header ul.tile-wrds li {
  margin: 0 20px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header .tile-wrds li a {
  color: var(--font-color);
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .tile-wrds li:hover a {
  color: var(--main-color);
}
.main-header .tile-wrds li a::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 120%;
  height: 2px;
  background-color: var(--main-color);
  top: 0;
  left: -80%;
  -webkit-transition: left var(--main-transition) linear;
  -o-transition: left var(--main-transition) linear;
  transition: left var(--main-transition) linear;
}
.main-header .tile-wrds li:hover a::before {
  z-index: 0;
  left: -10%;
}
@media (max-width: 768px) {
  .main-header ul li {
    font-size: 15px;
  }
  .main-header ul.tile-wrds li {
    margin: 0 10px;
  }
}
@media (max-width: 397px) {
  .main-header ul li {
    font-size: 15px;
  }
  .main-header ul.tile-wrds li {
    margin: 0 5px;
  }
}
@media (max-width: 357px) {
  .main-header ul li {
    font-size: 14px;
  }
  .main-header ul.tile-wrds li {
    margin: 0 3px;
  }
}
@media (max-width: 340px) {
  .main-header ul li {
    font-size: 13px;
  }
  .main-header ul.tile-wrds li {
    margin: 0 2px;
  }
}
@media (max-width: 320px) {
  .main-header ul.tile-wrds li:nth-child(2) {
    display: none;
  }
  .main-header ul.tile-wrds li {
    margin: 0 3px;
  }
}
.main-header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.main-header .icons a {
  color: var(--font-color);
}
.main-header .icons .heart {
  cursor: pointer;
}
.main-header .icons .heart:hover {
  color: var(--main-color);
}
@media (max-width: 460px) {
  .main-header .icons .heart {
    display: none;
  }
}
.main-header .icons .cart-shopping {
  margin: 0 3px 0 15px;
  position: relative;
  cursor: pointer;
}
.main-header .icons .cart-shopping:hover {
  color: var(--main-color);
}
.main-header .icons .cart-shopping::after {
  content: attr(data-counter);
  background-color: var(--font-color);
  color: var(--secondary-background-color);
  font-size: 9px;
  position: absolute;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: -10px;
  left: -10px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.main-header .icons .cart-shopping:hover::after {
  color: var(--font-color);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  .main-header .icons .cart-shopping {
    margin-left: 7px;
  }
}
@media (max-width: 435px) {
  .main-header .icons .cart-shopping {
    display: none;
  }
}
.main-header .icons a + span {
  font-size: 10px;
  cursor: default;
}
.main-header .icons a + span:hover {
  color: var(--main-color);
}
@media (max-width: 510px) {
  .main-header .icons a + span {
    display: none;
  }
}
.toggle {
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}
.input {
  display: none;
}
.icon {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.icon--moon {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  color: #475969;
}
.icon--sun {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  color: yellow;
}
#switch:checked + .icon--moon {
  -webkit-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}
#switch:checked ~ .icon--sun {
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  -webkit-transform: scale(1) rotate(360deg);
  -ms-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
}
/* 
====================================================================
====================================================================
=============================End Header=============================
====================================================================
====================================================================

====================================================================
====================================================================
============================Start Video=============================
====================================================================
====================================================================
*/
.video {
  -webkit-mask: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(transparent),
    color-stop(10%, white)
  );
  -webkit-mask: linear-gradient(0deg, transparent, white 10%);
  mask: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(transparent),
    color-stop(10%, white)
  );
  mask: linear-gradient(0deg, transparent, white 10%);
}
.video video {
  min-width: 100%;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  -o-object-fit: fill;
  object-fit: fill;
  overflow: hidden;
}
/* 
====================================================================
====================================================================
=============================End Video==============================
====================================================================
====================================================================

====================================================================
====================================================================
=========================Start New-Packages=========================
====================================================================
====================================================================
*/
.new-packages .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 993px) {
  .new-packages .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 450px) {
  .new-packages .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.new-packages .package {
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  background-color: var(--secondary-background-color);
  border: 15px solid var(--secondary-background-color);
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px -2px var(--box-shadow);
}
.new-packages .package:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.new-packages .package .box {
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
@media (max-width: 993px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }
}
@media (max-width: 991.9px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 207px;
    flex-basis: 207px;
  }
}
@media (max-width: 767.8px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 226px;
    flex-basis: 226px;
  }
}
@media (max-width: 575.7px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 243px;
    flex-basis: 243px;
  }
}
@media (max-width: 565.8px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 237px;
    flex-basis: 237px;
  }
}
@media (max-width: 550px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 225px;
    flex-basis: 225px;
  }
}
@media (max-width: 525px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
  }
}
@media (max-width: 508px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 205px;
    flex-basis: 205px;
  }
}
@media (max-width: 476px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
  }
}
@media (max-width: 470.8px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
  }
}
@media (max-width: 441px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 174px;
    flex-basis: 174px;
  }
}
@media (max-width: 405px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }
}
@media (max-width: 365px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 135px;
    flex-basis: 135px;
  }
}
@media (max-width: 349.8px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
}
@media (max-width: 336px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px;
  }
}
@media (max-width: 315px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 262px;
    flex-basis: 262px;
  }
}
@media (max-width: 300px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
  }
}
@media (max-width: 282px) {
  .new-packages .package .box {
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
  }
}
.new-packages .package:hover .box {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.new-packages .package .box .face {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  background-color: var(--secondary-background-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.new-packages .package .box .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: var(--main-background-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 992.8px) {
  .new-packages .package .box .back {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .new-packages .package .box .back {
    gap: 10px;
  }
}
@media (max-width: 365px) {
  .new-packages .package .box .back {
    gap: 5px;
  }
}
@media (max-width: 349.8px) {
  .new-packages .package .box .back {
    gap: 20px;
  }
}
@media (max-width: 300px) {
  .new-packages .package .box .back {
    gap: 10px;
  }
}
.new-packages .package .box .back .button {
  width: 80%;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
@media (max-width: 992.8px) {
  .new-packages .package .box .back .button {
    padding: 5px 12px;
  }
}
@media (max-width: 767.9px) {
  .new-packages .package .box .back .button {
    padding: 10px 24px;
  }
}
@media (max-width: 509px) {
  .new-packages .package .box .back .button {
    padding: 5px 12px;
  }
}
@media (max-width: 406.8px) {
  .new-packages .package .box .back .button {
    padding: 4px 10px;
    font-size: 13px;
  }
}
@media (max-width: 349.8px) {
  .new-packages .package .box .back .button {
    padding: 10px 24px;
    font-size: 18px;
  }
}
.new-packages .package .box .back .button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 35%;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.new-packages .package .box .back .button:hover::before {
  scale: 3;
}
.new-packages .package .box .back .button:hover {
  color: #212121;
  scale: 1.1;
  -webkit-box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}
.new-packages .package .box .back .button:active {
  scale: 1;
}
.new-packages .package .box .image img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.new-packages .package .text {
  margin: 15px 5px;
  text-align: center;
}
.new-packages .package .text h3 {
  font-weight: normal;
}
.new-packages .package .text p {
  font-size: 15px;
  margin: 10px 0 24px;
}
.new-packages .package .text + button {
  background-color: var(--main-color);
  width: 100%;
  border: 20px solid var(--main-color);
  border-radius: 15px;
  position: relative;
}
.new-packages .package .text + button::before {
  content: "Add To Cart";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
@media (max-width: 391.8px) {
  .new-packages .package .text + button::before {
    font-size: 13px;
  }
}
.new-packages .package .text + button:hover::before {
  top: -15px;
  opacity: 0;
}
.new-packages .package .text + button::after {
  content: "\f217";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 15px;
  opacity: 0;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.new-packages .package .text + button:hover::after {
  top: 50%;
  opacity: 1;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -500;
  opacity: 0;
  transition: opacity var(--main-transition) ease;
}
.modal.active {
  opacity: 1;
  z-index: 500;
}
.master-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width: 400px;
  background: var(--main-background-color);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
@media (max-width: 415px) {
  .card {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .card {
    width: 300px;
  }
}
@media (max-width: 315px) {
  .card {
    width: 260px;
  }
}
.top-title {
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-product-color);
  border-bottom: 1px solid var(--font-color);
}
.top-title i {
  min-width: 20px;
  height: 50%;
  cursor: pointer;
  position: relative;
}
.top-title i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 700;
  font-size: 11px;
}
/* cart */
.master-container .cart {
  border-radius: 19px 19px 7px 7px;
}
.cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.cart .products .product {
  display: grid;
  grid-template-columns: 60px 1fr 80px 1fr;
  gap: 10px;
  --height: 30px;
  --font-weight: 700;
  --font-size: 15px;
  background-color: var(--secondary-background-color);
  padding: 5px;
  border-radius: 8px;
}
.cart .products .product:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 360px) {
  .cart .products .product {
    --height: 25px;
  }
}
@media (max-width: 315px) {
  .cart .products .product {
    grid-template-columns: 60px 1fr 50px 1fr;
    --font-weight: 600;
    --font-size: 14px;
  }
}
.cart .products .product img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 5px;
}
.cart .products .product span {
  font-size: 13px;
  font-weight: 600;
  color: var(--product-color);
  display: block;
}
.cart .products .product p {
  font-size: 11px;
  font-weight: 600;
  color: var(--secondary-product-color);
  margin: 0 0 0.2rem;
}
.cart .select-container {
  position: relative;
  max-width: 80px;
  height: var(--height);
  border-radius: 7px;
  overflow: hidden;
}
@media (max-width: 360px) {
  .cart .select-container {
    min-width: 65px;
  }
}
@media (max-width: 360px) {
  .cart .select-container {
    min-width: 55px;
  }
}
.cart .select-container select {
  border: none;
  appearance: none;
  background: linear-gradient(
    90deg,
    var(--main-color) 77%,
    var(--secondary-color) 77%
  );
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 1px 5px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}
.cart .select-container select option {
  background-color: var(--main-color);
}
@media (max-width: 360px) {
  .cart .select-container {
    min-width: 55px;
  }
}
.cart .select-container i {
  position: absolute;
  right: 1px;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}
@media (max-width: 360px) {
  .cart .select-container i {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .cart .select-container i {
    font-size: 10px;
  }
}
.cart .quantity {
  height: var(--height);
  display: grid;
  grid-template-columns: 30px 20px 30px;
  margin: auto;
  border-radius: 7px;
  color: black;
  overflow: hidden;
}
@media (max-width: 315px) {
  .cart .quantity {
    grid-template-columns: 15px 20px 15px;
  }
}
.cart .quantity span {
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: black !important;
  background-color: var(--main-color);
}
.cart .quantity button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
  background-color: var(--secondary-color);
}
@media (max-width: 315px) {
  .cart .quantity button {
    font-size: 12px;
  }
}
.card .small {
  font-size: 15px;
  margin: 0 auto;
  color: var(--product-color);
}
@media (max-width: 360px) {
  .card .small {
    margin: 0 0 0 -10px;
  }
}
@media (max-width: 360px) {
  .card .small {
    font-size: 10px !important;
  }
}
/* coupons */
.coupons {
  border-radius: 7px;
}
.coupons .form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 10px;
}
@media (max-width: 360px) {
  .coupons .form {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondary-background-color);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  color: var(--font-color);
}
.input_field:focus {
  background-color: transparent;
  color: var(--font-color);
}
.coupons .form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 36px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: black;
}
@media (max-width: 360px) {
  .coupons .form button {
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* Checkout */
.checkout {
  border-radius: 9px 9px 19px 19px;
}
.checkout .details {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  gap: 5px;
}
.checkout .details span {
  font-size: 13px;
  font-weight: 600;
}
.checkout .details span:nth-child(odd) {
  font-size: 11px;
  font-weight: 700;
  color: var(--secondary-product-color);
  margin: auto auto auto 0;
}

.checkout .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: var(--product-color);
  margin: auto 0 auto auto;
}

.checkout .checkout--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: var(--secondary-background-color);
}
.price {
  position: relative;
  font-size: 22px;
  color: var(--font-color);
  font-weight: 900;
}
.price sup {
  font-size: 13px;
}
.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  max-width: 150px;
  height: 36px;
  background-color: var(--main-color);
  border-radius: 7px;
  border: 0;
  outline: none;
  color: black;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
/* 
====================================================================
====================================================================
==========================End New-Packages==========================
====================================================================
====================================================================

====================================================================
====================================================================
=============================Start Info=============================
====================================================================
====================================================================
*/
.info {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  background-color: var(--secondary-background-color);
  padding: var(--main-padding) 0;
  overflow: hidden;
}
.info .row {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 47%;
  grid-template-columns: 1fr 47%;
  gap: 20px;
}
@media (max-width: 768px) {
  .info .row {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.info .row:nth-child(2n) {
  direction: rtl;
}
.info .row .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.info .row .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info .row .wrap .content {
  position: relative;
  margin-right: 20px;
  --font-duration: 0.3s;
}
.info .row:nth-child(2n) .wrap .content {
  margin-left: 20px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .info .row .wrap .content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .info .row:nth-child(2n) .wrap .content {
    margin-right: 20px;
  }
}
.info .row .content .text h2 {
  word-spacing: -3px;
}
.info .row .content .text p {
  margin: 20px 0;
  line-height: 1.4;
}
.info .row .content button {
  border: 0;
  background-color: var(--main-color);
  border-radius: 20px;
  min-height: 15px;
  padding: 2px 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.info .row .content .paragraph.big {
  --font-duration: 0.6s;
}
.info .row .content .paragraph {
  font-size: 0;
  -webkit-transition: font-size var(--font-duration) linear;
  -o-transition: font-size var(--font-duration) linear;
  transition: font-size var(--font-duration) linear;
  line-height: 1.3;
}
.info .row .content .paragraph.show {
  font-size: initial;
}
/* End Info */
/* 
====================================================================
====================================================================
==============================End Info==============================
====================================================================
====================================================================

====================================================================
====================================================================
========================Start Tourist-Images========================
====================================================================
====================================================================
*/
.tourist .scroller {
  max-width: 98vw;
  margin: 0 auto;
}
.tourist .scroller .scroller__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tourist .scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(20%, white),
    color-stop(80%, white),
    to(transparent)
  );
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(20%, white),
    color-stop(80%, white),
    to(transparent)
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
@media (max-width: 768px) {
  .tourist .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(10%, white),
      color-stop(90%, white),
      to(transparent)
    );
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    mask: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(10%, white),
      color-stop(90%, white),
      to(transparent)
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
  }
}
.tourist .scroller[data-animated="true"] .scroller__inner {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
}
.tourist .images .tag-list li {
  width: 250px;
  margin: 0 10px;
}
.tourist .images .tag-list li img {
  max-width: 100%;
  min-width: 250px;
  max-height: 175px;
}
/* 
====================================================================
====================================================================
=========================End Tourist-Images=========================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Articles ==========================
====================================================================
====================================================================
*/
.articles {
  background-color: var(--secondary-background-color);
  padding: var(--main-padding) 0;
}
.articles .main-title {
  margin: 0 auto;
}
.articles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .articles .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.articles .container .article {
  max-width: 48%;
  min-width: 48%;
  height: 330px;
  position: relative;
  z-index: 5;
  margin: 50px 0 0;
}
@media (max-width: 1000px) {
  .articles .container .article {
    max-width: 100%;
    min-width: 100%;
    height: 330px;
    position: relative;
  }
}
@media (max-width: 440px) {
}
.articles .container .article .image {
  max-height: 315px;
  min-height: 315px;
  max-width: 60%;
  background-color: var(--main-background-color);
  position: absolute;
  right: 0;
  top: 0;
  border: 15px solid var(--main-background-color);
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px var(--box-shadow);
}
@media (max-width: 440px) {
  .articles .container .article .image {
    max-width: 70%;
  }
}
.articles .container .article .image img {
  width: 100%;
  min-height: 290px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
.articles .container .article .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 5.5px));
  -ms-transform: translateY(calc(-50% - 5.5px));
  transform: translateY(calc(-50% - 5.5px));
  max-width: 50%;
  text-align: center;
  min-height: 80%;
  background-color: var(--main-background-color);
  border: 15px solid var(--main-background-color);
  border-left-width: 10px;
  border-right-width: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px var(--box-shadow);
}
@media (max-width: 440px) {
  .articles .container .article .card {
    max-width: 60%;
  }
}
@media (max-width: 300px) {
  .articles .container .article .card {
    max-width: 70%;
  }
}
.articles .container .article .card h3 {
  color: var(--main-color);
  word-spacing: -2px;
  line-height: 0.95;
  font-size: calc(1rem + 0.6vw);
}
@media (max-width: 370px) {
  .articles .container .article .card h3 {
    font-size: 20px;
  }
}
.articles .container .article .card .icons {
  margin: 15px 0 10px;
}
@media (max-width: 440px) {
  .articles .container .article .card .icons {
    margin: 10px 0 5px;
  }
}
.articles .container .article .card .icons i {
  margin: 0 5px;
}
.articles .container .article .card p {
  color: var(--secondary-font-color);
  line-height: 1.3;
  font-size: 14px;
  margin-bottom: 10px;
}
@media (max-width: 370px) {
  .articles .container .article .card p {
    font-size: 13px;
  }
}
.articles .container .article .card .icons {
  position: relative;
}
.articles .container .article .card .content .icons .font-share-icons {
  display: none;
  -ms-grid-columns: 30px 30px 30px 30px 30px;
  grid-template-columns: repeat(5, 30px);
  padding-left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--font-color);
  border: 10px solid var(--font-color);
  border-left-width: 8px;
  border-right-width: 8px;
  border-radius: 10px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.articles .article .card .content .icons .font-share-icons::before {
  content: "";
  border: 10px solid var(--font-color);
  border-color: var(--font-color) transparent transparent transparent;
  border-bottom: 1px solid transparent;
  position: absolute;
  left: calc(50% - 10px);
  bottom: -19px;
}
.articles .article .card .content .icons .font-share-icons a {
  color: var(--secondary-background-color);
  font-size: 20px;
}
.articles .article .card .content .icons .font-share-icons a:hover {
  color: var(--main-color);
}
.articles .container .article .card .icons .share {
  padding: 5px;
  cursor: pointer;
}
.articles .container .article .card .read {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: var(--font-color);
  position: relative;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
@media (max-width: 370px) {
  .articles .container .article .card .read {
    font-size: 14px;
  }
}
@media (max-width: 325px) {
  .articles .container .article .card .read {
    font-size: 13px;
  }
}
.articles .container .article .card .read::after {
  content: "\f141";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  bottom: -2px;
  right: -13px;
  opacity: 0;
  -webkit-transition: opacity var(--main-transition);
  -o-transition: opacity var(--main-transition);
  transition: opacity var(--main-transition);
}
.articles .container .article .card .read:hover::after {
  opacity: 1;
  -webkit-animation: move-ellipsis 0.5s linear 1;
  animation: move-ellipsis 0.5s linear 1;
}
.articles .container .article .card .read:hover {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}
/* 
====================================================================
====================================================================
=========================== End Articles ===========================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Footer =========================
====================================================================
====================================================================
*/
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .row .image img {
  max-width: 220px;
}
footer .container .row:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .row .icons {
  margin: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 10px 50px 10px 50px;
  grid-template-columns: repeat(3, 50px);
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .row .icons .instagram {
  --hover-color: #cc39a4;
}
footer .row .icons .snapchat {
  --hover-color: yellow;
}
footer .row .icons .whatsapp {
  --hover-color: #128c7e;
}
footer .row .icons a {
  background-color: var(--footer-icon);
  color: var(--footer-font);
  border-radius: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
footer .row .icons a:hover {
  background-color: var(--hover-color);
}
footer .row.location {
  max-width: 25%;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer ul li a {
  color: var(--font-color);
  font-size: 20px;
  -webkit-transition: color var(--main-transition);
  -o-transition: color var(--main-transition);
  transition: color var(--main-transition);
}
footer ul li:hover a {
  color: var(--main-color);
}
footer p {
  text-align: center;
  margin-bottom: 0;
}
/* 
====================================================================
====================================================================
============================ End Footer ============================
====================================================================
====================================================================

====================================================================
====================================================================
========================== Start Animation =========================
====================================================================
====================================================================
*/
@-webkit-keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%,
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%,
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@-webkit-keyframes move-ellipsis {
  100% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}
@keyframes move-ellipsis {
  100% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
}
@-webkit-keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@-webkit-keyframes scroll {
  to {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@keyframes scroll {
  to {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@-webkit-keyframes left-move {
  0% {
    left: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50.5% {
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
}

@keyframes left-move {
  0% {
    left: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50.5% {
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
}
@-webkit-keyframes left-move-reverse {
  0% {
    left: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
  50.5% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 0;
  }
  51% {
    border-radius: 50%;
  }
  100% {
    left: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@keyframes left-move-reverse {
  0% {
    left: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
  50.5% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 0;
  }
  51% {
    border-radius: 50%;
  }
  100% {
    left: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@-webkit-keyframes right-move-reverse {
  0% {
    right: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
  50.5% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 0;
  }
  51% {
    border-radius: 50%;
  }
  100% {
    right: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@keyframes right-move-reverse {
  0% {
    right: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
  50.5% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 0;
  }
  51% {
    border-radius: 50%;
  }
  100% {
    right: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@-webkit-keyframes right-move {
  0% {
    right: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
}
@keyframes right-move {
  0% {
    right: var(--position);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 52%;
    height: 103%;
    border-radius: 0;
  }
}
@-webkit-keyframes logo-dots {
  30% {
    top: -15%;
    left: 48%;
    opacity: 1;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
}
@keyframes logo-dots {
  30% {
    top: -15%;
    left: 48%;
    opacity: 1;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
}

@keyframes logo-right-dot-reverse {
  0% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
  33% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
  37% {
    opacity: 0.5;
  }
  50% {
    top: -15%;
    left: 48%;
    opacity: 1;
  }
  100% {
    top: -15%;
    left: 50%;
    opacity: 1;
  }
}
@keyframes logo-left-dot-reverse {
  0% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
  33% {
    top: 8%;
    left: 48%;
    opacity: 0;
  }
  37% {
    opacity: 0.5;
  }
  50% {
    top: -15%;
    left: 48%;
    opacity: 1;
  }
  100% {
    top: -15%;
    left: 44%;
    opacity: 1;
  }
}
@-webkit-keyframes q-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes q-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes q-rotate-reverse {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes move-letter {
  100% {
    left: var(--q-position);
    opacity: 0;
  }
}
@keyframes move-letter {
  100% {
    left: var(--q-position);
    opacity: 0;
  }
}
@keyframes move-letter-reverse {
  0% {
    left: var(--q-position);
    opacity: 0;
  }
  33% {
    left: var(--q-position);
    opacity: 0;
  }
  100% {
    left: var(--left);
    opacity: 1;
  }
}
/* 
====================================================================
====================================================================
===========================End Animation============================
====================================================================
====================================================================

====================================================================
====================================================================
===============================Start================================
====================================================================
====================================================================
*/
