.right-corner {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  gap: 5px;
  color: var(--secondary-product-color);
  font-size: 10px;
}
.right-corner a {
  color: var(--secondary-product-color);
  font-size: 10px;
  text-transform: uppercase;
  word-spacing: -1px;
}
.cart h1 {
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: -3px;
  margin-top: 5px;
}
