.login {
  background-color: var(--third-background-color);
  padding: 50px 0;
}
.login .container .form-container .inputs .form-control {
  margin-top: 15px;
}
@media (min-width: 430px) and (max-width: 500px) {
  .login .container .form-container .inputs .form-control input {
    min-width: 85%;
    max-width: 85%;
  }
}
.login .container .form-container form h1 {
  margin: 0;
}
@media (max-width: 768px) {
  .login .container .form-container form h1 {
    font-size: 26px;
  }
}
#container h2 {
  text-align: center;
}
#container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
#container span {
  font-size: 12px;
}
#container a {
  color: var(--footer-font);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  text-wrap: nowrap;
}
#container button {
  text-wrap: nowrap;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 15px 0;
}
@media (max-width: 500px) {
  #container button {
    padding: 10px 30px;
    margin: 15px 0;
  }
}
#container button:active {
  transform: scale(0.95);
}
#container button:focus {
  outline: none;
}
#container button.ghost {
  background-color: transparent;
  border-color: white;
}
.form-container form {
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .form-container form {
    padding: 0 20px;
  }
}
#container {
  background-color: var(--third-background-color);
  border-radius: 10px;
  box-shadow: 0 0px 16px var(--box-shadow), 0 3px 10px var(--box-shadow);
  position: relative;
  max-width: 768px;
  min-height: 480px;
  overflow: hidden;
  transform-style: preserve-3d;
  transform-origin: center center;
}
@media (max-width: 500px) {
  #container {
    overflow: initial;
  }
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}
.login .container .form-container .social-container {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .login .container .form-container .social-container {
    margin: 10px 0;
  }
}
@media (max-width: 500px) {
  .login .container .form-container .social-container {
    margin: 0;
  }
}
.login .container .form-container .social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  position: absolute;
}
@media (max-width: 500px) {
  #container {
    transition: 0.8s;
  }
  .sign-in-container {
    width: 100%;
    z-index: 1;
    backface-visibility: hidden;
  }
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
@media (max-width: 500px) {
  .container.right-panel-active .sign-in-container {
    transform: translateX(0);
  }
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
@media (max-width: 500px) {
  .sign-up-container {
    transform: translateX(0);
    width: 100%;
    opacity: 1;
    transform: rotateY(180deg);
  }
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
.container .container .form-container .have-account {
  position: relative;
  font-size: 12px;
  bottom: -20px;
}
@media (min-width: 500px) {
  .container .container .form-container .have-account {
    display: none;
  }
}
.container .container .form-container .have-account .end {
  display: inline;
  position: relative;
  color: var(--footer-font);
  padding: 5px;
  left: -5px;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
@media (max-width: 500px) {
  .overlay-container {
    display: none;
  }
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay-container .overlay {
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--font-color);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-container .overlay .overlay-left {
  transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-container .overlay .overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@media (max-width: 992px) {
  .inputs .form-control.full input {
    max-width: 95%;
    min-width: 90%;
  }
}
@media (max-width: 500px) {
  .inputs {
    min-width: 90%;
  }
  .form-control label {
    padding-left: 20px;
  }
}
@media (max-width: 450px) {
  .form-control label {
    padding-left: 5%;
  }
}
@media (max-width: 415px) {
  .form-control label {
    padding-left: 1%;
  }
}
@media (max-width: 400px) {
  .form-control label {
    padding-left: 0;
  }
}
