.packages {
  background-color: var(--cart-color);
  padding: 20px 0 100px;
}
.cars {
  padding: 50px 0;
}
.new-packages .items .package .image.car {
  position: relative;
  width: 100%;
  flex-basis: 280px;
  transition: 0.5s;
}
@media (max-width: 993px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }
}
@media (max-width: 991.9px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 207px;
    flex-basis: 207px;
  }
}
@media (max-width: 767.8px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 226px;
    flex-basis: 226px;
  }
}
@media (max-width: 575.7px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 243px;
    flex-basis: 243px;
  }
}
@media (max-width: 565.8px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 237px;
    flex-basis: 237px;
  }
}
@media (max-width: 550px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 225px;
    flex-basis: 225px;
  }
}
@media (max-width: 525px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
  }
}
@media (max-width: 508px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 205px;
    flex-basis: 205px;
  }
}
@media (max-width: 476px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
  }
}
@media (max-width: 470.8px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 190px;
    flex-basis: 190px;
  }
}
@media (max-width: 441px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 174px;
    flex-basis: 174px;
  }
}
@media (max-width: 405px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }
}
@media (max-width: 365px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 135px;
    flex-basis: 135px;
  }
}
@media (max-width: 349.8px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
}
@media (max-width: 336px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px;
  }
}
@media (max-width: 315px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 262px;
    flex-basis: 262px;
  }
}
@media (max-width: 300px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
  }
}
@media (max-width: 282px) {
  .new-packages .items .package .image.car {
    -ms-flex-preferred-size: 232px;
    flex-basis: 232px;
  }
}
.new-packages .items .package .image.car img {
  max-width: 100%;
}
.hotels {
  background-color: var(--secondary-background-color);
  padding: 50px 0;
}
